<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">


	<!-- 定时器的配置 -->
	
	
	      <!--  最近更新列表 数据缓存 -->
    <bean id="latestPicCacheJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="com.kuaikanwang.image.component.timer.LatestPicListTask"></bean>
        </property>
        <property name="targetMethod" value="work" />
        <property name="concurrent" value="false" />
    </bean>
     
    <bean id="latestPicCacheJobTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="latestPicCacheJobDetail">
        </property>
        <property name="cronExpression" value="${latest.pic.list.cron}">
        </property>
    </bean>
	
	      <!--  观看次数排行 数据缓存 -->
    <bean id="countPicCacheJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="com.kuaikanwang.image.component.timer.CountPicListTask"></bean>
        </property>
        <property name="targetMethod" value="work" />
        <property name="concurrent" value="false" />
    </bean>
     
    <bean id="countPicCacheJobTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="countPicCacheJobDetail">
        </property>
        <property name="cronExpression" value="${count.pic.list.cron}">
        </property>
    </bean>
	      <!--  最大pid数据缓存 -->
    <bean id="maxPidCacheJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="com.kuaikanwang.image.component.timer.MaxPidTask"></bean>
        </property>
        <property name="targetMethod" value="work" />
        <property name="concurrent" value="false" />
    </bean>
     
    <bean id="maxPidCacheJobTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="maxPidCacheJobDetail">
        </property>
        <property name="cronExpression" value="${max.pid.cron}">
        </property>
    </bean>
 
 
 
 
 
 
 
 	<bean name="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="latestPicCacheJobTrigger" />
                <ref bean="countPicCacheJobTrigger" />
                <ref bean="maxPidCacheJobTrigger" />
            </list>
        </property>
    </bean>


</beans>